// <copyright file="DeploymentsServiceApi.cs" company="APIMatic">
// SemgrepWebApp.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SemgrepWebApp.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SemgrepWebApp.Standard.Apis
{
    /// <summary>
    /// DeploymentsServiceApi.
    /// </summary>
    public class DeploymentsServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="DeploymentsServiceApi"/> class.
        /// </summary>
        internal DeploymentsServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Request the deployments your auth can access.
        /// Currently available auth scope does not extend over more than one deployment. This endpoint returns the single deployment your token can access. The endpoint additionally returns links to related resources available on this API.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1ListDeploymentsResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1ListDeploymentsResponse> DeploymentsServiceListDeployments()
            => CoreHelper.RunTask(DeploymentsServiceListDeploymentsAsync());

        /// <summary>
        /// Request the deployments your auth can access.
        /// Currently available auth scope does not extend over more than one deployment. This endpoint returns the single deployment your token can access. The endpoint additionally returns links to related resources available on this API.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1ListDeploymentsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1ListDeploymentsResponse>> DeploymentsServiceListDeploymentsAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1ListDeploymentsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/deployments")
                  .WithAuth("SemgrepWebToken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}