// <copyright file="MiscServiceApi.cs" company="APIMatic">
// SemgrepWebApp.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SemgrepWebApp.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SemgrepWebApp.Standard.Apis
{
    /// <summary>
    /// MiscServiceApi.
    /// </summary>
    public class MiscServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="MiscServiceApi"/> class.
        /// </summary>
        internal MiscServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// VPC support for Managed Scans is in private beta.
        /// Returns the Managed Scans VPC Bootstrap CloudFormation template in JSON format for setting up cross-account infrastructure.
        /// This template creates IAM roles and policies needed for Semgrep Managed Scanning (SMS) VPC infrastructure automation,.
        /// including the semgrep-sms-vpc-automation role and EC2 Image Builder distribution roles for gVisor container runtime.
        /// See the original AWS cloudformation template format at https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-formats.html.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1GetBootstrapSmsVpcResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1GetBootstrapSmsVpcResponse> MiscServiceGetBootstrapSmsVpc()
            => CoreHelper.RunTask(MiscServiceGetBootstrapSmsVpcAsync());

        /// <summary>
        /// VPC support for Managed Scans is in private beta.
        /// Returns the Managed Scans VPC Bootstrap CloudFormation template in JSON format for setting up cross-account infrastructure.
        /// This template creates IAM roles and policies needed for Semgrep Managed Scanning (SMS) VPC infrastructure automation,.
        /// including the semgrep-sms-vpc-automation role and EC2 Image Builder distribution roles for gVisor container runtime.
        /// See the original AWS cloudformation template format at https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-formats.html.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1GetBootstrapSmsVpcResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1GetBootstrapSmsVpcResponse>> MiscServiceGetBootstrapSmsVpcAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1GetBootstrapSmsVpcResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/bootstrap-sms-vpc"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use to ping the server and assert liveness.
        /// </summary>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> MiscServicePing()
            => CoreHelper.RunTask(MiscServicePingAsync());

        /// <summary>
        /// Use to ping the server and assert liveness.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> MiscServicePingAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/ping"))
              .ResponseHandler(responseHandler => responseHandler
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}