// <copyright file="PoliciesServiceApi.cs" company="APIMatic">
// SemgrepWebApp.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SemgrepWebApp.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SemgrepWebApp.Standard.Apis
{
    /// <summary>
    /// PoliciesServiceApi.
    /// </summary>
    public class PoliciesServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PoliciesServiceApi"/> class.
        /// </summary>
        internal PoliciesServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// PoliciesService_ListPolicies EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1ListPoliciesResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1ListPoliciesResponse> PoliciesServiceListPolicies(
                string deploymentId)
            => CoreHelper.RunTask(PoliciesServiceListPoliciesAsync(deploymentId));

        /// <summary>
        /// PoliciesService_ListPolicies EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1ListPoliciesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1ListPoliciesResponse>> PoliciesServiceListPoliciesAsync(
                string deploymentId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1ListPoliciesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/deployments/{deploymentId}/policies")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// PoliciesService_ListPolicyRules EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="policyId">Required parameter: .</param>
        /// <param name="cursor">Optional parameter: .</param>
        /// <param name="limit">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1ListPolicyRulesResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1ListPolicyRulesResponse> PoliciesServiceListPolicyRules(
                string deploymentId,
                string policyId,
                string cursor = null,
                long? limit = null)
            => CoreHelper.RunTask(PoliciesServiceListPolicyRulesAsync(deploymentId, policyId, cursor, limit));

        /// <summary>
        /// PoliciesService_ListPolicyRules EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="policyId">Required parameter: .</param>
        /// <param name="cursor">Optional parameter: .</param>
        /// <param name="limit">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1ListPolicyRulesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1ListPolicyRulesResponse>> PoliciesServiceListPolicyRulesAsync(
                string deploymentId,
                string policyId,
                string cursor = null,
                long? limit = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1ListPolicyRulesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/deployments/{deploymentId}/policies/{policyId}")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Template(template => template.Setup("policyId", policyId).Required())
                      .Query(query => query.Setup("cursor", cursor))
                      .Query(query => query.Setup("limit", limit))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// PoliciesService_UpdatePolicy EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="policyId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1UpdatePolicyResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1UpdatePolicyResponse> PoliciesServiceUpdatePolicy(
                string deploymentId,
                string policyId,
                Models.UpdatePolicyRequest body)
            => CoreHelper.RunTask(PoliciesServiceUpdatePolicyAsync(deploymentId, policyId, body));

        /// <summary>
        /// PoliciesService_UpdatePolicy EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="policyId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1UpdatePolicyResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1UpdatePolicyResponse>> PoliciesServiceUpdatePolicyAsync(
                string deploymentId,
                string policyId,
                Models.UpdatePolicyRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1UpdatePolicyResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/api/v1/deployments/{deploymentId}/policies/{policyId}")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Template(template => template.Setup("policyId", policyId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}