// <copyright file="ProjectsServiceApi.cs" company="APIMatic">
// SemgrepWebApp.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SemgrepWebApp.Standard.Http.Response;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SemgrepWebApp.Standard.Apis
{
    /// <summary>
    /// ProjectsServiceApi.
    /// </summary>
    public class ProjectsServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ProjectsServiceApi"/> class.
        /// </summary>
        internal ProjectsServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Request the list of projects that have been scanned or onboarded to Managed Scans. Does not return archived repositories. Returns 100 projects per page by default.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="page">Optional parameter: .</param>
        /// <param name="pageSize">Optional parameter: Example: 100.</param>
        /// <returns>Returns the ApiResponse of Models.ListProjectsResponse response from the API call.</returns>
        public ApiResponse<Models.ListProjectsResponse> ListProjects(
                string deploymentSlug,
                long? page = null,
                long? pageSize = 100L)
            => CoreHelper.RunTask(ListProjectsAsync(deploymentSlug, page, pageSize));

        /// <summary>
        /// Request the list of projects that have been scanned or onboarded to Managed Scans. Does not return archived repositories. Returns 100 projects per page by default.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="page">Optional parameter: .</param>
        /// <param name="pageSize">Optional parameter: Example: 100.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListProjectsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListProjectsResponse>> ListProjectsAsync(
                string deploymentSlug,
                long? page = null,
                long? pageSize = 100L,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListProjectsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/deployments/{deploymentSlug}/projects")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentSlug", deploymentSlug).Required())
                      .Query(query => query.Setup("page", page))
                      .Query(query => query.Setup("page_size", pageSize ?? 100L))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Delete a project for a deployment you have access to. This will also delete all of the associated findings.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.DeleteProjectResponse response from the API call.</returns>
        public ApiResponse<Models.DeleteProjectResponse> DeleteProject(
                string deploymentSlug,
                string projectName)
            => CoreHelper.RunTask(DeleteProjectAsync(deploymentSlug, projectName));

        /// <summary>
        /// Delete a project for a deployment you have access to. This will also delete all of the associated findings.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeleteProjectResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DeleteProjectResponse>> DeleteProjectAsync(
                string deploymentSlug,
                string projectName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeleteProjectResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/api/v1/deployments/{deploymentSlug}/projects/{projectName}")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentSlug", deploymentSlug).Required())
                      .Template(template => template.Setup("projectName", projectName).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Retrieve details for a single project associated with a deployment that you have access to.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GetProjectResponse response from the API call.</returns>
        public ApiResponse<Models.GetProjectResponse> GetProject(
                string deploymentSlug,
                string projectName)
            => CoreHelper.RunTask(GetProjectAsync(deploymentSlug, projectName));

        /// <summary>
        /// Retrieve details for a single project associated with a deployment that you have access to.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GetProjectResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GetProjectResponse>> GetProjectAsync(
                string deploymentSlug,
                string projectName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetProjectResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/deployments/{deploymentSlug}/projects/{projectName}")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentSlug", deploymentSlug).Required())
                      .Template(template => template.Setup("projectName", projectName).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update attributes for the project using the value passed in to the request body.
        /// Note: The only attribute that is supported as of January 2023 is `tags`.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.UpdateProjectResponse response from the API call.</returns>
        public ApiResponse<Models.UpdateProjectResponse> UpdateProject(
                string deploymentSlug,
                string projectName,
                Models.UpdateProjectRequest body)
            => CoreHelper.RunTask(UpdateProjectAsync(deploymentSlug, projectName, body));

        /// <summary>
        /// Update attributes for the project using the value passed in to the request body.
        /// Note: The only attribute that is supported as of January 2023 is `tags`.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.UpdateProjectResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.UpdateProjectResponse>> UpdateProjectAsync(
                string deploymentSlug,
                string projectName,
                Models.UpdateProjectRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.UpdateProjectResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/api/v1/deployments/{deploymentSlug}/projects/{projectName}")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentSlug", deploymentSlug).Required())
                      .Template(template => template.Setup("projectName", projectName).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Enable or disable.
        /// [Semgrep Managed Scans](/docs/deployment/managed-scanning/overview).
        /// for a project.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ToggleProjectManagedScanResponse response from the API call.</returns>
        public ApiResponse<Models.ToggleProjectManagedScanResponse> ToggleProjectManagedScan(
                string deploymentSlug,
                string projectName,
                Models.ToggleProjectManagedScanRequest body)
            => CoreHelper.RunTask(ToggleProjectManagedScanAsync(deploymentSlug, projectName, body));

        /// <summary>
        /// Enable or disable.
        /// [Semgrep Managed Scans](/docs/deployment/managed-scanning/overview).
        /// for a project.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ToggleProjectManagedScanResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ToggleProjectManagedScanResponse>> ToggleProjectManagedScanAsync(
                string deploymentSlug,
                string projectName,
                Models.ToggleProjectManagedScanRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ToggleProjectManagedScanResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/api/v1/deployments/{deploymentSlug}/projects/{projectName}/managed-scan")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentSlug", deploymentSlug).Required())
                      .Template(template => template.Setup("projectName", projectName).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Remove tags from a project for a deployment you have access to.
        /// This request will not delete project tags from the deployment and will only remove.
        /// them from the requested project. Any other projects associated with the requested.
        /// tag will remain unaffected.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="tags">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.DeleteProjectTagsResponse response from the API call.</returns>
        public ApiResponse<Models.DeleteProjectTagsResponse> DeleteProjectTags(
                string deploymentSlug,
                string projectName,
                List<string> tags = null)
            => CoreHelper.RunTask(DeleteProjectTagsAsync(deploymentSlug, projectName, tags));

        /// <summary>
        /// Remove tags from a project for a deployment you have access to.
        /// This request will not delete project tags from the deployment and will only remove.
        /// them from the requested project. Any other projects associated with the requested.
        /// tag will remain unaffected.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="tags">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DeleteProjectTagsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DeleteProjectTagsResponse>> DeleteProjectTagsAsync(
                string deploymentSlug,
                string projectName,
                List<string> tags = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DeleteProjectTagsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/api/v1/deployments/{deploymentSlug}/projects/{projectName}/tags")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentSlug", deploymentSlug).Required())
                      .Template(template => template.Setup("projectName", projectName).Required())
                      .Query(query => query.Setup("tags", tags))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Add tags to a project for a deployment you have access to.
        /// Any project tags that do not already exist for the deployment will be created automatically and associated with the project.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.AddProjectTagsResponse response from the API call.</returns>
        public ApiResponse<Models.AddProjectTagsResponse> AddProjectTags(
                string deploymentSlug,
                string projectName,
                Models.AddProjectTagsRequest body)
            => CoreHelper.RunTask(AddProjectTagsAsync(deploymentSlug, projectName, body));

        /// <summary>
        /// Add tags to a project for a deployment you have access to.
        /// Any project tags that do not already exist for the deployment will be created automatically and associated with the project.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="projectName">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.AddProjectTagsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.AddProjectTagsResponse>> AddProjectTagsAsync(
                string deploymentSlug,
                string projectName,
                Models.AddProjectTagsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AddProjectTagsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/api/v1/deployments/{deploymentSlug}/projects/{projectName}/tags")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentSlug", deploymentSlug).Required())
                      .Template(template => template.Setup("projectName", projectName).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}