// <copyright file="ScansServiceApi.cs" company="APIMatic">
// SemgrepWebApp.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SemgrepWebApp.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SemgrepWebApp.Standard.Apis
{
    /// <summary>
    /// ScansServiceApi.
    /// </summary>
    public class ScansServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ScansServiceApi"/> class.
        /// </summary>
        internal ScansServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Request the details of a scan including the associated deployment, repository, and commit information.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="scanId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1GetScanResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1GetScanResponse> ScansServiceGetScan(
                string deploymentId,
                string scanId)
            => CoreHelper.RunTask(ScansServiceGetScanAsync(deploymentId, scanId));

        /// <summary>
        /// Request the details of a scan including the associated deployment, repository, and commit information.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="scanId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1GetScanResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1GetScanResponse>> ScansServiceGetScanAsync(
                string deploymentId,
                string scanId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1GetScanResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/deployments/{deploymentId}/scan/{scanId}")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Template(template => template.Setup("scanId", scanId).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// List the scans associated with a particular repository over the past 30 days.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1SearchScansResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1SearchScansResponse> ScansServiceSearchScans(
                string deploymentId,
                Models.SearchScansRequest body)
            => CoreHelper.RunTask(ScansServiceSearchScansAsync(deploymentId, body));

        /// <summary>
        /// List the scans associated with a particular repository over the past 30 days.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1SearchScansResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1SearchScansResponse>> ScansServiceSearchScansAsync(
                string deploymentId,
                Models.SearchScansRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1SearchScansResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v1/deployments/{deploymentId}/scans/search")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}