// <copyright file="SecretsServiceApi.cs" company="APIMatic">
// SemgrepWebApp.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SemgrepWebApp.Standard.Http.Response;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SemgrepWebApp.Standard.Apis
{
    /// <summary>
    /// SecretsServiceApi.
    /// </summary>
    public class SecretsServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SecretsServiceApi"/> class.
        /// </summary>
        internal SecretsServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// ListSecretsPath EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="cursor">Optional parameter: .</param>
        /// <param name="limit">Optional parameter: .</param>
        /// <param name="since">Optional parameter: .</param>
        /// <param name="validationState">Optional parameter: .</param>
        /// <param name="status">Optional parameter: Example: FINDING_STATUS_UNSPECIFIED.</param>
        /// <param name="severity">Optional parameter: .</param>
        /// <param name="repo">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1ListSecretsPathResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1ListSecretsPathResponse> ListSecretsPath(
                string deploymentId,
                string cursor = null,
                long? limit = null,
                DateTime? since = null,
                List<Models.ValidationState3> validationState = null,
                Models.Status8? status = Models.Status8.FindingStatusUnspecified,
                List<Models.Severity5> severity = null,
                List<string> repo = null)
            => CoreHelper.RunTask(ListSecretsPathAsync(deploymentId, cursor, limit, since, validationState, status, severity, repo));

        /// <summary>
        /// ListSecretsPath EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="cursor">Optional parameter: .</param>
        /// <param name="limit">Optional parameter: .</param>
        /// <param name="since">Optional parameter: .</param>
        /// <param name="validationState">Optional parameter: .</param>
        /// <param name="status">Optional parameter: Example: FINDING_STATUS_UNSPECIFIED.</param>
        /// <param name="severity">Optional parameter: .</param>
        /// <param name="repo">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1ListSecretsPathResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1ListSecretsPathResponse>> ListSecretsPathAsync(
                string deploymentId,
                string cursor = null,
                long? limit = null,
                DateTime? since = null,
                List<Models.ValidationState3> validationState = null,
                Models.Status8? status = Models.Status8.FindingStatusUnspecified,
                List<Models.Severity5> severity = null,
                List<string> repo = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1ListSecretsPathResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/deployments/{deploymentId}/secrets")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Query(query => query.Setup("cursor", cursor))
                      .Query(query => query.Setup("limit", limit))
                      .Query(query => query.Setup("since", since.HasValue ? since.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("validationState", validationState?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Query(query => query.Setup("status", (status.HasValue) ? CoreHelper.JsonSerialize(status.Value).Trim('\"') : "FINDING_STATUS_UNSPECIFIED"))
                      .Query(query => query.Setup("severity", severity?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Query(query => query.Setup("repo", repo))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}