// <copyright file="SupplyChainServiceApi.cs" company="APIMatic">
// SemgrepWebApp.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SemgrepWebApp.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SemgrepWebApp.Standard.Apis
{
    /// <summary>
    /// SupplyChainServiceApi.
    /// </summary>
    public class SupplyChainServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SupplyChainServiceApi"/> class.
        /// </summary>
        internal SupplyChainServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// ListDependencies EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ListDependenciesResponse response from the API call.</returns>
        public ApiResponse<Models.ListDependenciesResponse> ListDependencies(
                string deploymentId,
                Models.ListDependenciesRequest body)
            => CoreHelper.RunTask(ListDependenciesAsync(deploymentId, body));

        /// <summary>
        /// ListDependencies EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListDependenciesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListDependenciesResponse>> ListDependenciesAsync(
                string deploymentId,
                Models.ListDependenciesRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListDependenciesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v1/deployments/{deploymentId}/dependencies")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// ListRepositoriesForDependencies EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ListRepositoriesForDependenciesResponse response from the API call.</returns>
        public ApiResponse<Models.ListRepositoriesForDependenciesResponse> ListRepositoriesForDependencies(
                string deploymentId,
                Models.ListRepositoriesForDependenciesRequest body)
            => CoreHelper.RunTask(ListRepositoriesForDependenciesAsync(deploymentId, body));

        /// <summary>
        /// ListRepositoriesForDependencies EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListRepositoriesForDependenciesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListRepositoriesForDependenciesResponse>> ListRepositoriesForDependenciesAsync(
                string deploymentId,
                Models.ListRepositoriesForDependenciesRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListRepositoriesForDependenciesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v1/deployments/{deploymentId}/dependencies/repositories")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// ListLockfilesForDependencies EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="repositoryId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ListLockfilesForDependenciesResponse response from the API call.</returns>
        public ApiResponse<Models.ListLockfilesForDependenciesResponse> ListLockfilesForDependencies(
                string deploymentId,
                string repositoryId,
                Models.ListLockfilesForDependenciesRequest body)
            => CoreHelper.RunTask(ListLockfilesForDependenciesAsync(deploymentId, repositoryId, body));

        /// <summary>
        /// ListLockfilesForDependencies EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="repositoryId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ListLockfilesForDependenciesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ListLockfilesForDependenciesResponse>> ListLockfilesForDependenciesAsync(
                string deploymentId,
                string repositoryId,
                Models.ListLockfilesForDependenciesRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ListLockfilesForDependenciesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v1/deployments/{deploymentId}/dependencies/repositories/{repositoryId}/lockfiles")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Template(template => template.Setup("repositoryId", repositoryId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateSbomExport EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.CreateSbomExportResponse response from the API call.</returns>
        public ApiResponse<Models.CreateSbomExportResponse> CreateSbomExport(
                string deploymentId,
                Models.CreateSbomExportRequest body)
            => CoreHelper.RunTask(CreateSbomExportAsync(deploymentId, body));

        /// <summary>
        /// CreateSbomExport EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CreateSbomExportResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.CreateSbomExportResponse>> CreateSbomExportAsync(
                string deploymentId,
                Models.CreateSbomExportRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CreateSbomExportResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v1/deployments/{deploymentId}/sbom/export")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// GetSbomExport EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="taskToken">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GetSbomExportResponse response from the API call.</returns>
        public ApiResponse<Models.GetSbomExportResponse> GetSbomExport(
                string deploymentId,
                string taskToken)
            => CoreHelper.RunTask(GetSbomExportAsync(deploymentId, taskToken));

        /// <summary>
        /// GetSbomExport EndPoint.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="taskToken">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GetSbomExportResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GetSbomExportResponse>> GetSbomExportAsync(
                string deploymentId,
                string taskToken,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GetSbomExportResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/v1/deployments/{deploymentId}/sbom/export/{taskToken}")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Template(template => template.Setup("taskToken", taskToken).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}