// <copyright file="TicketingServiceApi.cs" company="APIMatic">
// SemgrepWebApp.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SemgrepWebApp.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SemgrepWebApp.Standard.Apis
{
    /// <summary>
    /// TicketingServiceApi.
    /// </summary>
    public class TicketingServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TicketingServiceApi"/> class.
        /// </summary>
        internal TicketingServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Unlink a Jira ticket by its ID.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="externalTicketId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1DeleteTicketResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1DeleteTicketResponse> TicketingServiceDeleteTicket(
                string deploymentId,
                long externalTicketId)
            => CoreHelper.RunTask(TicketingServiceDeleteTicketAsync(deploymentId, externalTicketId));

        /// <summary>
        /// Unlink a Jira ticket by its ID.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="externalTicketId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1DeleteTicketResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1DeleteTicketResponse>> TicketingServiceDeleteTicketAsync(
                string deploymentId,
                long externalTicketId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1DeleteTicketResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/api/v1/deployments/{deploymentId}/ticketing/v2/tickets/{externalTicketId}")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Template(template => template.Setup("externalTicketId", externalTicketId))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Link an existing external ticket (e.g. Jira) to one or more Semgrep findings by providing the ticket URL and a list of finding IDs. This does not create a ticket in your issue tracker — it only records the association in Semgrep. If a finding is already linked to a different ticket, the existing link is replaced. Requires a configured ticketing integration.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1LinkTicketResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1LinkTicketResponse> TicketingServiceLinkTicket(
                string deploymentId,
                Models.LinkTicketRequest body)
            => CoreHelper.RunTask(TicketingServiceLinkTicketAsync(deploymentId, body));

        /// <summary>
        /// Link an existing external ticket (e.g. Jira) to one or more Semgrep findings by providing the ticket URL and a list of finding IDs. This does not create a ticket in your issue tracker — it only records the association in Semgrep. If a finding is already linked to a different ticket, the existing link is replaced. Requires a configured ticketing integration.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1LinkTicketResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1LinkTicketResponse>> TicketingServiceLinkTicketAsync(
                string deploymentId,
                Models.LinkTicketRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1LinkTicketResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v1/deployments/{deploymentId}/tickets/link")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Remove the ticket association from one or more Semgrep findings by providing a list of finding IDs. This does not delete the ticket in your issue tracker — it only removes the association in Semgrep.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1UnlinkTicketResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1UnlinkTicketResponse> TicketingServiceUnlinkTicket(
                string deploymentId,
                Models.UnlinkTicketRequest body)
            => CoreHelper.RunTask(TicketingServiceUnlinkTicketAsync(deploymentId, body));

        /// <summary>
        /// Remove the ticket association from one or more Semgrep findings by providing a list of finding IDs. This does not delete the ticket in your issue tracker — it only removes the association in Semgrep.
        /// </summary>
        /// <param name="deploymentId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1UnlinkTicketResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1UnlinkTicketResponse>> TicketingServiceUnlinkTicketAsync(
                string deploymentId,
                Models.UnlinkTicketRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1UnlinkTicketResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v1/deployments/{deploymentId}/tickets/unlink")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentId", deploymentId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create Jira tickets for your findings. You can create tickets by passing in a list of issue_ids or by passing in filter query parameters to dynamically select findings. If passing in filters, Semgrep will skip already ticketed findings. This endpoint is synchronous, so it may take some time for your request to resolve. Unlike creating tickets in-app, if ticket creation fails we won't automatically retry. This endpoint accepts a limit parameter (defaulting to 20) to limit the number of tickets created per request. If you specify a list of issue_ids greater than this limit, or your selected filters match on a number of issues greater than this limit, issues that were not ticketed are included in the Failed part of the response object. You can send another request to create tickets for these skipped issues. By default, findings belonging to the same repository and the same rule will be grouped together into a single Jira ticket. You can override this using the group_issues query parameter. Up to 50 issues can be grouped into a single ticket. You can optionally override the Jira project you create tickets in by passing in a Jira project ID as jira_project_id (the numeric ID rather than the project key). You can fetch this ID using the Jira API.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1CreateTicketResponse response from the API call.</returns>
        public ApiResponse<Models.ProtosOpenapiV1CreateTicketResponse> TicketingServiceCreateTicket(
                string deploymentSlug,
                Models.CreateTicketRequest body)
            => CoreHelper.RunTask(TicketingServiceCreateTicketAsync(deploymentSlug, body));

        /// <summary>
        /// Create Jira tickets for your findings. You can create tickets by passing in a list of issue_ids or by passing in filter query parameters to dynamically select findings. If passing in filters, Semgrep will skip already ticketed findings. This endpoint is synchronous, so it may take some time for your request to resolve. Unlike creating tickets in-app, if ticket creation fails we won't automatically retry. This endpoint accepts a limit parameter (defaulting to 20) to limit the number of tickets created per request. If you specify a list of issue_ids greater than this limit, or your selected filters match on a number of issues greater than this limit, issues that were not ticketed are included in the Failed part of the response object. You can send another request to create tickets for these skipped issues. By default, findings belonging to the same repository and the same rule will be grouped together into a single Jira ticket. You can override this using the group_issues query parameter. Up to 50 issues can be grouped into a single ticket. You can optionally override the Jira project you create tickets in by passing in a Jira project ID as jira_project_id (the numeric ID rather than the project key). You can fetch this ID using the Jira API.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProtosOpenapiV1CreateTicketResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProtosOpenapiV1CreateTicketResponse>> TicketingServiceCreateTicketAsync(
                string deploymentSlug,
                Models.CreateTicketRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProtosOpenapiV1CreateTicketResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v1/deployments/{deploymentSlug}/tickets")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentSlug", deploymentSlug).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}