// <copyright file="TriageServiceApi.cs" company="APIMatic">
// SemgrepWebApp.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using SemgrepWebApp.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace SemgrepWebApp.Standard.Apis
{
    /// <summary>
    /// TriageServiceApi.
    /// </summary>
    public class TriageServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TriageServiceApi"/> class.
        /// </summary>
        internal TriageServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Bulk triage your findings. You can select the findings to triage by passing in a list of finding IDs as issue_ids, or by passing in filter query parameters. You must specify the issue_type of the findings you want to bulk triage. One of new_triage_state or new_note is required. If specifying a new_triage_reason, you must also use new_triage_state=ignored. Some filters only apply for findings associated with a given product.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BulkTriageResponse response from the API call.</returns>
        public ApiResponse<Models.BulkTriageResponse> BulkTriage(
                string deploymentSlug,
                Models.BulkTriageRequest body)
            => CoreHelper.RunTask(BulkTriageAsync(deploymentSlug, body));

        /// <summary>
        /// Bulk triage your findings. You can select the findings to triage by passing in a list of finding IDs as issue_ids, or by passing in filter query parameters. You must specify the issue_type of the findings you want to bulk triage. One of new_triage_state or new_note is required. If specifying a new_triage_reason, you must also use new_triage_state=ignored. Some filters only apply for findings associated with a given product.
        /// </summary>
        /// <param name="deploymentSlug">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BulkTriageResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BulkTriageResponse>> BulkTriageAsync(
                string deploymentSlug,
                Models.BulkTriageRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BulkTriageResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/v1/deployments/{deploymentSlug}/triage")
                  .WithAuth("SemgrepWebToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("deploymentSlug", deploymentSlug).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}